<p id="notice"><%= notice %></p>

<h1>Listing To Do Lists</h1>

<table>
  <thead>
    <tr>
      <th>Title</th>
      <th>Description</th>
      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody>
    <% @to_do_lists.each do |to_do_list| %>
      <tr id="<%= dom_id(to_do_list) %>"> 
        <td><%= to_do_list.title %></td>
        <td><%= to_do_list.description %></td>
        <td><%= link_to 'Show', to_do_list %></td>
        <td><%= link_to 'Edit', edit_to_do_list_path(to_do_list) %></td>
        <td><%= link_to 'Destroy', to_do_list, method: :delete, data: { confirm: 'Are you sure?' } %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<%= link_to 'New To do list', new_to_do_list_path %>
